[Unit]
Description=BitBoxBase Middleware
After=multi-user.target bitcoind.service

[Service]

# Service execution
###################

#EnvironmentFile=/etc/bbbmiddleware/bbbmiddleware.conf
ExecStartPre=/opt/shift/scripts/systemd-bbbmiddleware-startpre.sh
ExecStart=/usr/local/sbin/bbbmiddleware \
    -datadir=/data/bbbmiddleware

# Process management
####################

Type=simple
Restart=always
RestartSec=10

# Hardening measures
####################

# TODO(Stadicus)

[Install]
WantedBy=bitboxbase.target
