[Unit]
Description=BitBoxBase Supervisor
After=multi-user.target

[Service]

# Service execution
###################

ExecStart=/usr/local/sbin/bbbsupervisor

# Process management
####################

Type=simple
Restart=always
RestartSec=10

[Install]
WantedBy=bitboxbase.target
