[Unit]
Description=BitBox Base: restore iptables rules
Before=network.target

[Service]

# Service execution
###################

ExecStart=/opt/shift/scripts/systemd-iptables-restore.sh

# Process management
####################

Type=oneshot

[Install]
WantedBy=multi-user.target
