[Unit]
Description=BitBoxBase logrotation

[Service]

# Service execution
###################

ExecStart=/usr/sbin/logrotate /etc/logrotate.conf

# Process management
####################

Type=oneshot
