[Unit]
Description=Prometheus
After=mnt-ssd.mount

[Service]

# Service execution
###################

ExecStart=/usr/local/bin/prometheus \
    --web.listen-address="127.0.0.1:9090" \
    --config.file /etc/prometheus/prometheus.yml \
    --storage.tsdb.path=/mnt/ssd/prometheus \
    --web.console.templates=/etc/prometheus/consoles \
    --web.console.libraries=/etc/prometheus/console_libraries

# Process management
####################

Type=simple
Restart=always
RestartSec=10

# Directory creation and permissions
####################################

User=prometheus
Group=system

[Install]
WantedBy=multi-user.target
