[Unit]
Description=Redis In-Memory Data Store
After=startup-checks.service
# original config in /lib/systemd/system/redis-server.service

[Service]
Type=forking
ExecStart=/usr/bin/redis-server /etc/redis/redis.conf
ExecStop=/bin/kill -s TERM $MAINPID
User=redis
Group=redis
Restart=always
Restart=always
RestartSec=10
TimeoutSec=30

[Install]
WantedBy=multi-user.target
